**/.DS_Store
**/.flatpak-builder/
**/CMakeLists.txt.autosave
**/filament_full/
**/machine_full/
**/process_full/
*.code-workspace
*.flatpak
*.log
*.mo
*.no-debug.yml
*.o
.clangd
.idea/
.init_bundle.ini
.vs/*
/.cache/
/.vscode/
/flatpak-repo/
/src/TAGS
CMakeLists.txt.user
internal_docs/
local-lib
MANIFEST.bak
MYMETA.json
MYMETA.yml
resources/profiles/user/default
src/OrcaSlicer-doc/
SVG
test.js
AGENTS.md
deps/python3/python3.cmake

# Build artefacts
_build
blib
Build
build-linux/
Build.bat
build_*/
/build*/
deps/build*
deps_src/build/
install_*
/deps/cmakefiles/
/deps/DL_CACHE/
xs/

# Python bytecode
__pycache__/
*.pyc
