<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="33">
    <metadata key="name" value="Orca Pedestal"/>
    <metadata key="extruder" value="1"/>
    <part id="8" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 1 - "/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="13"/>
      <metadata key="extruder" value="2"/>
    </part>
    <part id="9" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 2"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="3"/>
    </part>
    <part id="10" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 3"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="6"/>
      <metadata key="extruder" value="2"/>
    </part>
    <part id="11" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 4"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="10"/>
    </part>
    <part id="12" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 5"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="11"/>
      <metadata key="extruder" value="2"/>
    </part>
    <part id="13" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 6"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="1"/>
    </part>
    <part id="14" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 7"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="2"/>
      <metadata key="extruder" value="2"/>
    </part>
    <part id="15" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 8"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="23"/>
      <metadata key="extruder" value="1"/>
    </part>
    <part id="16" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 9"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="7"/>
      <metadata key="extruder" value="2"/>
    </part>
    <part id="17" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 10"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="14"/>
    </part>
    <part id="18" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 11"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="4"/>
      <metadata key="extruder" value="2"/>
    </part>
    <part id="19" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 12"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="19"/>
    </part>
    <part id="20" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 13"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="8"/>
      <metadata key="extruder" value="2"/>
    </part>
    <part id="21" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 14"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="16"/>
    </part>
    <part id="22" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 15"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="5"/>
      <metadata key="extruder" value="2"/>
    </part>
    <part id="23" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 16"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="21"/>
    </part>
    <part id="24" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 17"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="9"/>
      <metadata key="extruder" value="2"/>
    </part>
    <part id="25" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 18"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="18"/>
    </part>
    <part id="26" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 19"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="17"/>
      <metadata key="extruder" value="2"/>
    </part>
    <part id="27" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 20"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="22"/>
    </part>
    <part id="28" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 21"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="24"/>
      <metadata key="extruder" value="2"/>
    </part>
    <part id="29" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 22"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="20"/>
    </part>
    <part id="30" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 23"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="12"/>
      <metadata key="extruder" value="2"/>
    </part>
    <part id="31" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 24 - "/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
    </part>
    <part id="32" subtype="normal_part">
      <metadata key="name" value="Orca Pedestal 25"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="15"/>
      <metadata key="extruder" value="2"/>
    </part>
  </object>
  <object id="7">
    <metadata key="name" value="Orca Head"/>
    <metadata key="extruder" value="1"/>
    <part id="4" subtype="normal_part">
      <metadata key="name" value="Orca Left Eye"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="2"/>
      <metadata key="extruder" value="3"/>
    </part>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="Orca Head"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="1"/>
    </part>
    <part id="6" subtype="normal_part">
      <metadata key="name" value="Orca Left Right"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="extruder" value="3"/>
    </part>
  </object>
  <object id="3">
    <metadata key="name" value="Orca Belly"/>
    <metadata key="extruder" value="1"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Orca Belly Mid"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="extruder" value="2"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="Orca Belly Bottom"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="1"/>
    </part>
  </object>
  <assemble>
   <assemble_item object_id="33" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 9.2494363784790465" offset="0 0 0" />
   <assemble_item object_id="7" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 27.6396484375" offset="0 0 0" />
   <assemble_item object_id="3" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 18.749971735352688" offset="0 0 0" />
  </assemble>
</config>
